{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="border border-3 border-dark p-5 w-50 bg-primary-subtle">
        <form method="post" enctype="multipart/form-data" action="{% url 'add_post' %}" class="d-flex flex-column text-center">
            {% csrf_token %}
            
            <p class="title-3">Создание публикации</p>
            <label class="my-2">
                <input type="text" name="description" id="description" placeholder="Описание">
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                <label class="my-2">
                    <input type="file" name="image" id="image" multiple>
                    {% for error in image_form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %} 
                </label>
            <div>
                <button class="btn btn-primary">Поделиться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}