<a id="openModalBtn" class="btn btn-primary btn-login ">Добавить публикацию</a>
<div class="d-flex justify-content-center">
    <div class="border border-3 border-dark p-5 w-50 bg-primary-subtle" id="modal">
        <form action="{% url 'add_post' %}" method="post"
              enctype="multipart/form-data" class="d-flex flex-column text-center">
            {% csrf_token %}
            <p class="title-3">Создание публикации</p>
            <label class="my-2">
                <input type="text" name="description" id="description"
                       placeholder="Описание">
            </label>
            <label class="my-2">
                <input type="file" name="images" id="images" multiple>
            </label>
            <div>
                <button class="btn btn-primary">Поделиться</button>
            </div>
        </form>
    </div>
</div>
