{% extends 'base.html' %}

{% block content %}
<div class="container d-flex mt-5 p-4">
    <div class="col-sm-3">
        <img src="{{ MEDIA_URL }}{{ object.avatar }}" class="avatar w-75">
    </div>
    <div class="col-sm-9">
        <div class="row align-items-center">
            <span class="py-2" style="font-size: 1.5rem;">{{ object.username }}</span>
            {% if request.user == object %}
            <a href="{% url 'profile' object.id %}"
               class="btn btn-light mx-3">Редактировать профиль</a>
            {% else %}
            <a href="{% url 'follow' object.id %}" class="btn btn-light mx-3">
            {% if follows %}
                Отписаться
            {% else %}
                Подписаться
            {% endif %}
            </a>
            {% endif %}
        </div>
        <div class="row">
            <small>
                {{ object.post_count }} публикаций
            </small>
            <small class="mx-3">
                {{ object.follower_count }} подписчиков
            </small>
            <small>
                Подписки: {{ following_count }}
            </small>
        </div>
        <div class="row flex-column mt-4">
            <div class="font-weight-bold" style="font-size: .9rem;">
                {{ object.get_full_name }}
            </div>
            <div style="font-size: .9rem;">
                {{ object.description }}
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    {% include 'posts/list.html' with posts=object.posts.all %}
</div>
{% endblock %}