{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary nav-color">
        <div class="container white-bg" >

          <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static '/img/instagram_logo.png' %}" class="logo">
            <img src="{% static '/img/instagram_text_logo.png' %}" class="logo_text">
          </a>

          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">

            <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
              <input class="form-control me-2" type="search"
                     placeholder="⌕ Поиск" aria-label="Search"
                     name="search_string">
            </form>
          </div>

          <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static '/img/user_login_icon.png' %}" class="user_login_icon">
          </a>

        </div>
      </nav>
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
      <script src="{% static 'js/jquery-3.7.1.slim.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
      $("#openModalBtn").click(
        () => {
          $("#modal").toggle()
        }
      )
    </script>
</body>
</html>