{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    <style>
        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            right: 0; 
            left: auto; 
        }
    </style>
</head>
<body class="main-page-bg">
<nav class="navbar navbar-expand-lg bg-body-tertiary nav-color bg-light">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static '/img/instagram_logo.png' %}" class="logo">
            <img src="{% static '/img/instagram_text_logo.png' %}" class="logo_text">
        </a>

        <div class="col-5 collapse navbar-collapse flex-grow-0 ml-4" id="navbarSupportedContent">

            <form class="d-flex " role="search" method="get" action="{% url 'search' %}">
                <input class="form-control my-2 " type="search" id="id-search"
                       placeholder="⌕ Поиск" aria-label="Search"
                       name="search_string">
            </form>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static '/img/user_login_icon.png' %}" class="user_login_icon">
                </a>
                {% if request.user.is_authenticated %}
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                {% else %}
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                  </ul>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/jquery-3.7.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bs.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>